"*":
  editor:
    showInvisibles: true
    fontSize: 14
    lineHeight: 1.4
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  welcome:
    showOnStartup: false
  tabs:
    showIcons: true
    usePreviewTabs: true
